// --------------------------------------------
// ### Individual Flexbox properties
// --------------------------------------------

// --------------------------------------------
// ### Flexbox grid
// --------------------------------------------

%flexboxGrid {
  display: flex;
}

%flexboxGrid__cell {
  display: flex;
  flex: 1;
}
