// --------------------------------------------
// ### General
// --------------------------------------------

html, body {
  height: 100%;
}

// --------------------------------------------
// ### Floats & Features
// --------------------------------------------

.float--left {
  float: none;
  margin: 0;

  @media screen and (min-width: 800px) {
    margin-right: 5%;
    float: left;
  }
}

.float--right {
  float: none;
  margin: 0;

  @media screen and (min-width: 800px) {
    margin-left: 5%;
    float: right;
  }
}

.hang--left {
  margin-left: 0;

  @media screen and (min-width: 800px) {
    margin-left: -20%;
  }
}

.hang--right {
  margin-right: 0;

  @media screen and (min-width: 800px) {
    margin-right: -20%;
  }
}

.l--fullBleed {
  margin: 0 -25%;

  img {
    width: 100%;
  }
}

.centeredBlock {
  margin: $gutter auto;

  * {
    margin: 0 auto;
  }
}

.hidden {
  text-indent: -9999px;
}

// --------------------------------------------
// ### Clearfix
// --------------------------------------------

%group {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}
