// --------------------------------------------
// ### General
// --------------------------------------------

html, body {
  height: 100%;
}

// --------------------------------------------
// ### Floats & Features
// --------------------------------------------

.float--left {
  float: none;
  margin: 1em 0;

  @media screen and (min-width: 800px) {
    margin: 0 1em 0 -25%;
    float: left;
  }
}

.float--right {
  float: none;
  margin: 1em 0;

  @media screen and (min-width: 800px) {
    margin: 0 -25% 0 1em;
    float: right;
  }
}

.l--fullBleed {
  margin: 0 -25%;
}

.centeredBlock {
  margin: $gutter auto;

  * {
    margin: 0 auto;
  }
}

.hidden {
  text-indent: -9999px;
}

// --------------------------------------------
// ### Clearfix
// --------------------------------------------

%group {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}
