
.icon-location:before { content: '\e012'; } /* '' */
.icon-comment:before { content: '\e014'; } /* '' */
.icon-paper-plane:before { content: '\e01e'; } /* '' */
.icon-params:before { content: '\e01f'; } /* '' */
.icon-up-circle:before { content: '\e4a3'; } /* '' */
.icon-down-circle:before { content: '\e4a4'; } /* '' */