// --------------------------------------------
// ### General
// --------------------------------------------

* {
  box-sizing:border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: gray--50scale;
  font-smoothing: antialiased;
  margin:0;
  padding:0;
  text-rendering: optimizeLegibility;
}

body {
  background-color: map-get($body, bg);
  font-family: map-get($body, fontFamily);
  font-weight: map-get($body, fontWeight);
  font-size: map-get($body, fontSize);
  color: map-get($body, color);
  line-height: 1.618;
}

// --------------------------------------------
// ### Vanity
// --------------------------------------------

::selection {
  color: inherit;
  background: map-get($selection, bg);
  text-shadow: none;
}

::-moz-selection {
  color: inherit;
  background: map-get($selection, bg);
  text-shadow: none;
}

%gradient {
  color: $pink;
  background: -webkit-linear-gradient($plum -10%,$pink 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
