// --------------------------------------------
// ### Flexbox Grid
// --------------------------------------------

%flexboxLayout--page {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

%flexboxLayout--nav {
  @extend %flex--display;
  @extend %flex--justifyContent__spaceBetween;
  align: center;
  padding: $gutter*2 $gutter;
}

%flexboxLayout--pagination {
  @extend %flex--display;
  flex-direction: column;
}

// --------------------------------------------
// ### General
// --------------------------------------------

.bodyLayout {
  @extend %flexboxLayout--page;
  padding: 0 $gutter;
  width: 100%;
  max-width: 63.29em;
  margin: 0 auto;
}

.contentMain {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

// --------------------------------------------
// ### Breakpoints
// --------------------------------------------

@custom-media --break-sm (min-width: 384px);
@custom-media --break-md (min-width: 576px);
@custom-media --break-lg (min-width: 768px);
