// --------------------------------------------
// ### General
// --------------------------------------------

.contentContainer {
  max-width: 67.29em;
  margin: 0 auto;
  padding: 0 $gutter;
}

.contentMain {
  padding: 0 $gutter;
  flex: 1;
}

// --------------------------------------------
// ### Flexbox Grid
// --------------------------------------------

%flexboxLayout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
