// --------------------------------------------
// ### Flexbox Grid
// --------------------------------------------

%flexboxLayout--page {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

%flexboxLayout--nav {
  @extend %flex--display;
  @extend %flex--justifyContent__spaceBetween;
  align: center;
}

%flexboxLayout--pagination {
  @extend %flex--display;
  flex-direction: column;

  @media screen and (min-width: 576px) {
    flex-direction: row;
  }
}

// --------------------------------------------
// ### General
// --------------------------------------------

.bodyLayout {
  @extend %flexboxLayout--page;
  padding: 0 $gutter;
  width: 100%;
  max-width: 63.29em;
  margin: 0 auto;

  @media screen and (min-width: 576px) {
    width: 80%;
  }
}

.contentMain {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 2em 0;
}
