// ------------------------------------------------------------------------------
// Table of Contents
//
// - Mixins
// - Clouds
//
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
// Mixins
// ------------------------------------------------------------------------------

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content
  }
  @-moz-keyframes #{$name} {
    @content
  }
  @-ms-keyframes #{$name} {
    @content
  }
  @-o-keyframes #{$name} {
    @content
  }
  @keyframes #{$name} {
    @content
  }
}

@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}

// ------------------------------------------------------------------------------
// Clouds
// ------------------------------------------------------------------------------

@include keyframes(cloud1) {
  0% { left: 65%; }
  10% { left: 80%; }
  20% { left: 65%; }
  60% { left: 5%; }
  100% { left: 65%; }
}

@include keyframes(cloud2) {
  0% { left: 14%; }
  35% { left: 60%; }
  85% { left: 5% }
  100% { left: 14% }
}

@include keyframes(cloud3) {
  0% { left: 24%; }
  35% { left: 70%; }
  85% { left: 15% }
  100% { left: 24% }
}
