*,
*:after,
*:before {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
}

html {
  font-size: 20px;
  color: $black;
  min-height: 100%;
}

body {
  font-family: $serif;
  font-style: normal;
  line-height: 1.3;
  box-sizing: border-box;
  min-height: 100%;
}

h1 {
  font-family: $serif;
}

h2 {
  font-family: $sansSerif;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: $serif;
  margin-bottom: 2em;
  text-align: center;

  .backCover & {
    text-align: left;
    margin: 0;
  }

  @media screen and (max-width: 400px) {
    font-size: 1.2em;
    text-align: left;
  }
}

a {
  transition: .2s all ease-in-out;
  text-decoration: none;
  color: $pop;
  font-family: $sansSerif;
  text-transform: uppercase;
  font-size: .85em;

  &:hover,
  &:focus {
    color: adjust-hue($pop, 30);
  }
}

.backCover {
  padding: 0 1em;
  font-size: 80%;
}
