.bigBackground--chalk {
  @extend %bigBackground;
  height: 100vh;
  background-image: url("/images/index--bg.jpg");
}

.index--heading {
  font-family: $sansSerif;
  letter-spacing: 5px;
  font-size: 4.35em;
  color: $white;
  margin-bottom: 0;

  @media screen and (max-width: 400px) {
    font-size: 2em;
  }
}
