%group {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

%column {
  float: left;
  margin: 0 1% 2em 0;

  &:last-child {
    margin-right: 0;
  }
}

.l--container {
  @extend %group;
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;

  @media screen and (max-width: 400px) {
    width: 100%;
    padding: 0 1em;
  }
}

.l--half {
  @extend %column;
  width: 49.5%;

  @media screen and (max-width: 400px) {
    width: 100%;
    padding: 0;
    margin-bottom: 2em;
  }
}

.l--quarter {
  @extend %column;
  width: 24.25%;
}

.l--oneThird {
  @extend %column;
  width: 33%;
}

.l--twoThird {
  @extend %column;
  width: 66%;
}
