// ------------------------------------------------------------------------------
// Table of Contents
//
// - Storybook
// - Back Cover
//
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
// Storybook
// ------------------------------------------------------------------------------

.storybook {
  text-align: center;
  margin-bottom: 13em;
  z-index: 1;

  @media screen and (max-width: 700px) {
    height: auto;
    margin-bottom: 10em;
  }

  &:first-child {
    padding-top: 10%;

    @media screen and (max-width: 400px) {
      padding-top: 2em;
    }
  }

  & p {
    max-width: 700px;
    margin: 1em auto;
  }
}

#dreamer {
  background-image: linear-gradient(white, $blue--light, white);
}

.storybook__line {
  font-size: 2em;
  font-weight: 300;
  color: $grey--light;
  font-style: italic;
  margin: 0 auto;

  #dreamer & {
    color: darken($blue--light, 30%)
  }

  @media screen and (max-width: 400px) {
    text-align: left;
    font-size: 1.5em;
  }
}

.storybook__image {
  max-width: 600px;
  margin: 0 auto 2em;

  img {
    width: 100%;
  }

  @media screen and (max-width: 400px) {
    width: 90%;
  }
}

.storybook__text {
  font-family: $serif;
  margin-bottom: 2em;
  text-align: center;

  @media screen and (max-width: 400px) {
    font-size: 1em;
    text-align: left;
  }
}

#hungry {
  @extend %bigBackground;
  background-image: url("/images/hungry.jpg");
  padding-top: 12%;

  & h2, p {
    color: $white;
  }
}

#fearless {
  background-image: url("/images/alligator.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  padding-bottom: 5em;

  @media screen and (max-width: 400px) {
    background-size: 100%;
    padding: 0;
  }

  & h2 {
    color: darken(#8a987a, 20%);
  }

  & .l--container {
    padding-top: 12em;

    @media screen and (max-width: 400px) {
      padding-top: 4em;
    }
  }
}

// ------------------------------------------------------------------------------
// Back Cover
// ------------------------------------------------------------------------------

.backCover {
  @extend .flexbox--center;
  background-color: #ffcccc;
  height: 100vh;
}

.backCover__block {
  padding: 0 1em;
  font-size: 80%;
  line-height: 1.5;
}

.backCover__heading {
  font-family: $sansSerif;
  text-transform: uppercase;
  margin: 0;
  opacity: .8;
}

.backCover__text {
  text-align: left;
  margin: 0;
  opacity: .6;
}

.airplane {
  width: 90%;
  max-width: 800px;

  img {
    width: 100%;
  }
}

// ------------------------------------------------------------------------------
// Clouds
// ------------------------------------------------------------------------------

.cloud {
  fill: $white;
  position: absolute;
  width: 80px;
  height: 50px;
  background-image: url(/images/icons/cloud.svg);
  background-repeat: no-repeat;
  opacity: 0.35;
  z-index: 0;
}

.clouds {
  position: absolute;
  width: 90%;
  overflow: hidden;
  height: 500px;
}

.cloudOne,
.cloudTwo,
.cloudThree {
  @extend .cloud;
}

.cloudOne {
  @include animation(cloud1 200s linear infinite);
  opacity: 0.4;
  top: 30px;
}

.cloudTwo {
  @include animation(cloud2 200s linear infinite);
  top: 100px;
  opacity: .5;
}

.cloudThree {
  @include animation(cloud3 200s linear infinite);
  top: 240px;
  z-index: 2;
}
