$white: #fff;
$grey--light: #bcbcbc;
$black: #333;
$pop: #ff5555;
$blue--light: #d0e7ec;

$sansSerif: "ff-meta-web-pro", Helvetica, sans-serif;
$serif: "ff-meta-serif-web-pro", Times, serif;
$labels: "ff-meta-web-pro-condensed", Helvetica, sans-serif;
