%html
  %head
    = partial("partials/head")
  %body.bodyLayout
    %header.headerMain
      = partial("partials/header")
    %section.contentMain
      #main{:role => "main"}
        = yield
    %footer.footerMain
      = partial("partials/footer")
