%html
  %head
    = partial("partials/head")
  %body.bodyLayout
    %header.headerMain
      = partial("partials/header")
    %section.contentMain
      #main{:role => "main"}
        = yield
    %footer.footerMain
      = partial("partials/footer")
  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js", :type => "text/javascript"}
  %script(src="javascripts/links.js")
