/*----------------M A I N
------------------------------------------------*/
body {
  color: #333;
  font-family: 'OpenSansLight';
}

#wrapper {
  width: 100%;
}

.school-img {
  background-image: url('../images/school.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  padding: 7em 4em;
}

.logo {
  position: absolute;
  top: 2em;
  left: 70%;
  padding-right: 2em;
  width: 20%;
  height: auto;
  max-width: 280px;
}

h1 {
  padding: .3em;
  margin: .2em;
  font-size: 2.25em;
  background-color: rgb(255, 255, 240);
  background-color: rgba(255, 255, 240, 0.6);
  color: #333;
  display: inline-block;
}

.animated {
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
  }

.animated.hinge {
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;
  }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.stripe {
  background-color: rgb(195,192,132);  
  height: 3em;
}

strong {
  font-family: 'OpenSansBold';
}

em {
    font-family: 'OpenSansLightItalic';
}

footer {
  padding: 2em 20%;
  background-image: url('../images/kids.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

footer h1 {
  margin: auto;
}

h3 {
  color: #c3c379
}

.col-one, .col-two p {
  color: #d8d8a8;
}

.col-one, .col-two {
  display: inline-block;
}

.col-one {
  padding-right: 50%;
}

.col-two {
  text-align: right;
  font-size: 1.25em;
  line-height: .75em;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #333;
} 

a:visited{
  color: #fff;
}

/*//////////F O R M S////////////////////////////*/

#form-area {
  background-color: #fff;
  width: 80%;
  margin: 2em auto;
  border: 1px solid;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

h2 {
  font-size: 2.25em;
  text-align: center;
  color: #44431b;
}

p {
  font-size: 1em;
  text-align: left;
  width: 60%;
  margin: auto;
  margin-bottom: 3em;
}

fieldset { 
  width: 40%;
  display: inline;
  padding: 0 3%;
  vertical-align: top;
  border: 0;
  margin: auto;
  float: left;
}

.right-col {
  border-left: 1px dotted;
  float: right;
}

label {
  font-size: 1em;
  font-family: 'OpenSansLight';
}

span {
  font-family: 'OpenSansBold';
}

legend { 
  font-size:1.5em;
  text-align:left;
  color: #300030;
  font-family: 'OpenSansLightItalic';
  padding: 1em;
}

#form-area input[type="text"] {
    display: block;
    border:2px solid #e8e8e8;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.0);
    margin: .5em 0 2em 0;
    padding:10px;
    border-radius:5px;
}

#form-area input[type="text"]:focus {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1.0);
    border: 10px solid #c0c078;
    outline: none;
    -webkit-transition: border linear .2s;
    -moz-transition: border linear .2s;
    transition: border linear .2s;
}

.submit-buttons {
  width: 100%;
  margin: 2em auto 0 auto;
  text-align: center;
  vertical-align: bottom;
  display: inline-block;
  clear: both;
}

.radio {
  padding-left: 1em;
  display: inline-block;
}

.ind-radio {
  margin: 0 .1em 0 .3em;
}

.state-select {
  padding-left: 1em;
  display: inline;
}

.street {
  width: 20em;
  margin-bottom: 0;
}

.zip {
  width: 5em;
  display: inline !important;
  margin-bottom: 0 !important;
}

.city {
  width: 8em;
  display: inline !important;
  margin-bottom: 0 !important;
}

label {
  display: block;
  margin-bottom: 2em;
}

.btn {
  border:none; 
  font-size:1.25em; 
  margin: 2em;
  padding: .75em 1.25em;
  display: inline;
  border-radius: 8px;
}

.img-upload {
  background: none;
  display: inline-block;
  padding: .5em;
  background-color: #c0c0c0;
  font-size: .75em;
}
 
input[type="submit"] { 
  background-color:#c3c379; 
  color: #44431b; 
  background-color: transition ease-in-out .3s;
}

input[type="submit"]:hover {
  background-color:#abab4d; 
}

.cancel {
  background-color:#c0c0c0;  
  color: #190c19; 
}

.cancel:hover {
  background-color: #3d2d3d;
  cursor: pointer;
}

/*//////////F O N T S////////////////////////////*/

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Responsive----------------*/

@media screen and (max-width: 800px) {

.school-img {
  padding: 1em;
}

h1 {
  font-size: 1.2em;
  width: 80%;
}

.stripe {
  height: 1em;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  font-size: 1.25em;
  text-align: left;
  padding-left: 1em;
}

p {
  width: 90%;
  margin-bottom: 0;
}

label {
  font-size: 100%;
}

legend {
  font-size: 130%;
  padding: 0;
  margin-bottom: 1em;
}

#form-area {
  margin: 0 auto 2em auto;
  width: 98%;
  border: 0;
  padding: 1em;
  height: 220em;
}

.img-placeholder {
  width: 100px;
  height: 100px;
  background-color: #c0c0c0;
}

fieldset {
  width: 95%;
  padding: 0;
  margin: 2em 0;
  float: none;
}

.submit-buttons {
  margin: auto;
}

.btn {
  font-size: 100%;
  margin: auto;
}

footer {
  padding: 2em 10%;
  background-color: #1f001f;
}

footer h1 {
  width: auto;
}

.right-col {
  float: none;
  border: none;
}

#form-area input[type="text"] {
    width:80%;
    border:1px solid #888;
}

.logo {
  display: none;
}
}
