= link_to "http://github.com/alejandraluaces" do
  %img{:src => "../images/svg/octocat.svg", class: "footer__icon"}

%p.footer__colophon This site uses #{link_to 'Middleman', 'https://middlemanapp.com/'} on #{link_to 'Github Pages', 'https://pages.github.com/'}. Check out the #{link_to 'source files', 'https://github.com/alejandraluaces/alejandraluaces.github.io-source'}.
