%meta{charset: "utf-8"}
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

%title Blog Title#{' - ' + current_article.title unless current_article.nil?}

%link{:href => "http://fonts.googleapis.com/css?family=Lato:300,700,300italic|Playfair+Display:700", :rel => "stylesheet", :type => "text/css"}/

= stylesheet_link_tag "application", media: "screen"

- feed_tag :atom, "\#{blog.options.prefix.to_s}/feed.xml", title: "RSS Feed for alejandra.io"
