%a{:href => "/", class: "headerName__link"}
  %h1.headerName Alejandra Luaces

%nav.navHeader
  %ul.navHeader__list
    %li.navHeader__item
      = navbar_link_to "Writing", "/writing/"
    %li.navHeader__item
      = navbar_link_to "Work", "/work/"
    %li.navHeader__item
      = navbar_link_to "Contact", "mailto:aluacesr@gmail.com?subject=Let's Work Together!"
