%a{:href => "/", class: "headerName__link"}
  %h1.masthead__logo.hidden
    Alejandra Luaces

%nav.inlineNav
  %ul.inlineNav__list
    %li.inlineNav__item= navbar_link_to "Work", "/"
    %li.inlineNav__item= navbar_link_to "Writing", "/writing/"
