---
title: We Don’t Need More Negativity
date: 2015-06-29
tags: community
description: "This was originally posted on Medium dot com."
---

%p I recently read <a href="https://medium.com/re-write/we-dont-need-more-designers-who-can-code-b81483d2a0e6">We Don’t Need More Designers Who Can Code</a>, an entertaining article which does make one good point:

%p <em>You shouldn’t be expected to be an expert of two very vast, different skillsets.</em>

%p There is a ton of value in employees understanding everyone’s role on a surface level. It can be <a href="https://twitter.com/allisongray--50ce/status/613843708958638081">a fun way</a> to make your company more efficient (many varied perspectives come together and produce better results), and could be a great way to execute UX research/interviews on the fly. However, expecting any one person to be masters of two “highly specialized professions” is asking too much.

%p The risk is that the organization could be looking for a <a href="http://thenextweb.com/dd/2012/03/31/why-cant-startups-find-designers/">unicorn</a>: the person who will forever be spread too thin. A person whose skills may be easy to exploit.

%p The great, fair points this guy makes in his article are absolutely overshadowed by his disdain for people who are better at both code and design than he is.
Unfortunately, there is plenty of harmful rhetoric to be found within this insubstantial critique–what kind of Medium article would it be without that? Likening designer/coders to a swiss army knife–an inanimate object that “doesn’t do anything particularly well”–isn’t nice, and isn’t doing anything for our community.

%p If you somehow found yourself stranded in a strange wild place fighting for survival, you wouldn’t exactly throw your swiss army knife into a ravine, would you? If you happened across a bird stuck in a net, and all you had was a multitool, you probably wouldn’t frantically take it out of your pocket and exclaim “Fuck! There’s too many options! This is a lost cause!” You’d try each of its implements until you got results.

%h3 Your unique skillset is valuable.
%p So you shouldn't be expected to be an expert of two very vast, different skill sets. Sure. That totally makes sense! People who both design and code didn't get there by mistake, they got there because of passion–passions that can be easy to exploit. So you shoulnd't be expected to know all the things. But what if that's what you expect of yourself? What if you enjoy that?

%p Raise your hand if you can write production-ready code, push it to GitHub, and still know your ass from a hole in the ground in terms of making an interface look good. Did you raise yours? I have one thing to say to you: You are valuable. The years you worked to get to where you are were worth it. Someone needs you. In fact, we all need you. And you are definitely not alone.

%p It’s advantageous to consider what is right or valuable for you. What niche will you carve out for yourself?

%h3 How do you identify?
%p You are likely a pretty good expert of your own domain . Are you a specialist? Are you a generalist? Of course, there are exceptions to the rule; people biting off a bit more than they can chew and their pride and prevarication end up wasting a company’s precious resources. Let's assume most people aren’t actually like that. I’d argue that it’s up to you to label yourself, and presumptuous for others to do so for you.

%p Neither of these are wrong.

%h3 What do you enjoy doing?
%p Do you enjoy working on a variety of projects with different clients? Are you a developer who values design and wants to learn how to make things look presentable and professional instead of waiting for your organization to free up precious design resources? Great! Learn some design skills and kick ass! Are you a designer who loves giving your left brain a workout, want to build sites to help friends and family, or learn a useful skills to add value to your personal brand? Good on you! Go learn some JavaScript or Rails or whatever it is that you think will address your need or make you happy!

%p Are you detail-oriented? Do you enjoy working on one product or family of offerings, elevating them to near-perfection? Would you or your friends, family, or loved ones describe you as a perfectionist? Become an expert in your domain. Go ahead and know everything there is to know about that particular thing you love! Jessica Hische is a hard-working and successful, well-known specialist. And she’s doing what she loves, which is literally the only thing that matters.

%p Generalists change the world, and specialists perfect it.

%p Neither of these are wrong.

%h3 Who do you want to work for?
%p Startups are scrappy and generally low on resources. Typically, they’ll be looking for candidates that are pretty good at many different skillsets so they can start adding value to their organization, which will in turn allow them to add more specialists for support.

%blockquote.float--left Larger organizations can afford to have robust teams of specialists. Of course, specialists can exist within startups, and generalists can act as liaisons between silos of specialty in a behemoth organization.

%p Neither of these are wrong.

%p Too often in tech, we squabble over who best deserves to serve users, and lose empathy for one another.
%p If we use this article as a guide, it would have us believe working together seamlessly requires empathy–with the stipulation that we remain compartmentalized. Unfortunately, this is not an accurate representation of our world.

%p Software isn’t just bezier curves and programming languages. Whether you are a specialist or a generalist, the technical aspects of your work are just a small part of what your responsibilities are. Soft skills–that is, communicating effectively and being decent to the people you work with–are vital. It’s been proven that no one wants to work with an asshole no matter how smart they are or how many hours they work. We really don’t need more negativity.

.centeredBlock
  <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">psa: all of your code is ephemeral &amp; will one day not even matter. it probably doesn&#39;t even matter now. how you treat your peers matters 💫</p>&mdash; jennmoneydollars (@jennschiffer) <a href="https://twitter.com/jennschiffer/status/600109116019838976">May 18, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

%p Nurturing our community of learners and growers and teachers is a social responsibility that we all have. It’s part of the unwritten contract you sign by choosing to enter this industry. Unless you’re just here for yourself. Do you want to be the kind of person who admits to that?

%p We allow our own personal experiences to serve as platforms from which we can look down on one another, wagging our fingers at the person least like ourselves. “We don’t need more designers who can code!” Well, maybe you don’t. But someone really, really does.
