---
title: Reflecting on Environments Past
date: 2015-06-02
tags: example
description: things
---

%p When I want to write something, I open Sublime Text. To me, that is what feels natural now since I became a web developer.

%p In the same way that insomniacs should only sleep in their bedrooms in order to invite sleep to come easier, I open Sublime Text to get shit done. It's a different space from me than Photoshop, Illustrator, or Sketch–places where my right brain is allowed control–although I get shit done there, too.

%p Sublime Text is my editor of choice. It's simple: mostly monochromatic with very little happening in the way of shapes, buttons, or tools. Monospaced type serves only to identify each individual character resting gently in its own space; not hogging or crowded or being too loud or too quiet, there is no debating kerning (at least in a way I'd find productive), and to me, it's peaceful because of those things.

%p I have not been in Sublime Text much recently. After half-quitting-half-getting-fired from a job I loved, my energy levels have dropped. My drive to learn new things has diminished. My pens haven't been touched in ages, and I find I don't have much to say that's positive, so I opt not to say anything at all. In fact, I accidentally clicked the Sublime logo on my dock and scrambled to close it, feeling maybe a little like an intruder, someone pretending to be a web professional. Someone who definitely does not belong. "Remember," I thought to myself, "you got taken off of projects because you weren't a good enough developer."

