---
title: Initial Blog Post
date: 2015-06-11
tags: life, work
description: Hi there! I haven't written anything I'd like to share yet (though many things I'd rather not, until I can refine and focus them a bit more).
---

%p Won't you check out my #{link_to 'dribbble', 'http://dribbble.com/'} or #{link_to 'get in touch', 'http://twitter.com/alejandraluaces'} instead? Thanks!
