.articlesMain

  - blog.articles.each do |article|
    %dl.articlesMain__item
      %a{:href =>article.url, class: "articlesMain__link"}
        %header.articlesMain__header
          %dt.articlesMain__heading= article.title
          %time.date= article.date.strftime("%B %e, %Y")
        %p.articlesMain__description= article.metadata[:page]["description"]
