---
title: International Housewares Association
tags: ux, design, development, copywriting
---
.l--fullBleed
  %img{:src => "../images/work/iha-header.jpg", class: ""}

%p The International Housewares Association holds the International Home + Housewares Show and is the go-to resource for the housewares industry standards.

%p As senior product designer at Eight Bit Studios, I led a team of five in refreshing the brand and building a more contemporary web presence.

%h3 Modular design approach
%p We identified plenty of common elements through an interface inventory, and suggested taking a modular approach to design–scoping these patterns instead of pages.

.hang--left.float--left.l--half
  %img{:src => "../images/work/reusable-patterns-printout.jpg", class: ""}
%p To make this transition easier for the executive board and IHA's in-house developer to understand, I held a collaborative design kickoff, where we cut modules out of paper and rearranged them on a table.

%p The result led us to determine the information architecture for the site and helped us devise components to estimate and start building out.
