%center
  .l--half
    %img{:src => "../images/work/welcome-to-whittl.png", class: ""}

%p I was design director for a services-booking company called Whittl. I helped them establish a brand identity, created voice and tone guidelines, mentored junior designers, and worked across teams to ensure brand consistency.

%hr

%img{:src => "../images/work/whittl--massage.jpg", class: ""}

%p I partnered with a local video production company and photographer to create a friendly, inspiring onboarding video for merchants, and set our marketing team up with b-roll video and beautiful photography for future campaigns and advertising.
