.article__header
  .article__title= data.whittl["title"]
  .case__tags.tags__item= data.whittl["tags"]

%img{:src => "../images/work/#{data.whittl["image"]}", class: ""}

%p As Design Director, I oversaw all the content that left the office; working with product, marketing, sales, and leadership teams to ensure the brand voice was strong and clear.

%p I move between feature work and maintenance, constantly working to improve the user flow of both our web and mobile apps. Currently, I’m overseeing the development of a brand-spankin’-new native Android app, focusing on features that’ll heavily influence our product, and coordinating video and photo shoots that’ll provide us with assets for future marketing campaigns and client promos.

%h3 The Apps
%p I oversaw the design of the brand-new Android app and the maintenance and gradual refresh of the existing web and iOS applications. For the native apps, I worked with a distributed design and development team, tracking features and bugs in Pivotal Tracker and held weekly planning meetings (with plenty of check-ins in between!) I worked with our front-end team to improve accessibility and ease of use of the web app, focusing on checkout flow.

%h3 Cross-team enrichment
%p I acted as a liaison between different teams–leadership, design, engineering, sales, and marketing. I regularly presented to cofounders and mentored junior designers, helping them discover new areas of interest within our company. I helped marketing conduct A/B testing through Mailchimp to discover the imagery and copy our customers gravitated towards, worked with engineering to make small improvements to search and checkout functionality and advocated for accessibility and user experience over business objectives.
