.caseStudy__header
  %img{:src => "../images/work/whittl-banner.png", class: ""}

%p Whittl is an application that allows you to book, pay, and tip for your appointments online.

%p As design director, I helped establish a brand identity, created voice and tone guidelines, mentored junior designers, and worked across teams to ensure brand consistency.

%hr

%img{:src => "../images/work/whittl--massage.jpg", class: ""}

%p With the help of a local video production company and photographer, we created a friendly, inspiring onboarding video for merchants and set our marketing team up with b-roll video and beautiful photography for future campaigns and advertising.

.l--half.hang--left.float--left
  %img{:src => "../images/work/whittl-checkout-flow.png", class: ""}

%p Checkout conversion was far greater on desktop than on mobile web or native app, so I worked to streamline the checkout flow across our products, making it more intuitive and less demanding of users.
%p We started by implementing small changes, A/B testing along the way to see which changes had the biggest impact.

.l--fullBleed
  %img{:src => "../images/work/whittl-android.png", class: ""}
