// --------------------------------------------
// ### Headings
// --------------------------------------------

$sizes:
    scale--1 4.236em  $condensed    $black    map-get($fontWeight, light)    true
  , scale--2 2.618em  $sansSerif   $black    map-get($fontWeight, normal)   false
  , scale--3 1.318em  $serif     $black    map-get($fontWeight, normal)   false
  , scale--4 1.318em  $sansSerif   $black    map-get($fontWeight, bold)    false
  , scale--5 1em   $sansSerif   $black    map-get($fontWeight, normal)   false
  , scale--6 .8em    $condensed     $black    map-get($fontWeight, normal)   true
  , scale--7 .8em    $sansSerif   $gray--50     map-get($fontWeight, normal)    true
  , scale--8 .8em    $serif   $black     map-get($fontWeight, normal)    false;

@each $scale in $sizes {
  .#{nth($scale, 1)} {
    font-size: #{nth($scale, 2)};
    font-family: #{nth($scale, 3)};
    color: #{nth($scale, 4)};
    font-weight: #{nth($scale, 5)};

    @if nth($scale, 6) {
      text-transform: uppercase;
    }
  }
}

// --------------------------------------------
// ### Not Headings
// --------------------------------------------

blockquote {
}


