// --------------------------------------------
// ### Header
// --------------------------------------------

.headerMain {
  @extend %flex--display;
  @extend %flex--justifyContent__spaceBetween;
  border-bottom: 1px solid $gray--light;
  padding: $gutter 0;
  align-items: center;
  margin-bottom: 2em;
}

// --------------------------------------------
// ### Footer
// --------------------------------------------

.footerMain {
  @extend %flex--display;
  @extend %flex--justifyContent__spaceBetween;
  border-top: 1px solid $gray--light;
  padding: $gutter;
  align-items: center;
  margin-top: 2em;
}
