// --------------------------------------------
// ### Header
// --------------------------------------------

.masthead {
  @extend %flexboxGrid;
  text-align: center;
  background: transparent;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.masthead__logo {
  @extend %flexboxGrid__cell;
  display: block;
  width: 150px;
  height: 50px;
  background: url('/images/icons/alejandra.svg');
  background-size: 150px 50px;
  margin: 0 auto;
}

// --------------------------------------------
// ### Footer
// --------------------------------------------

.footer {
  text-align: center;
  background: $white;
  padding: $gutter 0;
}

.footer__colophon {
  @extend .scale--7;
}

.footer__icon {
  margin-bottom: $gutter;
}
