// --------------------------------------------
// ### Header
// --------------------------------------------

.headerMain {
  @extend %flexboxLayout--nav;
  border-bottom: 1px solid $gray--light;
  flex-shrink: 0;
  padding: $gutter*2 $gutter;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 550px) {
    flex-direction: row;
  }
}

.headerName {
  font-size: 1em;
  font-weight: map-get($headerName, fontWeight);
  margin-bottom: 1em;
  @media screen and (min-width: 550px) {
    margin-bottom: 0;
  }
}

.hideonmobile {
  @media screen and (max-width: 430px) {
    display: none;
  }
}

.headerName__link {
  color: $black;
}

// --------------------------------------------
// ### Footer
// --------------------------------------------

.footerMain {
  display: flex;
  justify-content: center;
  border-top: 1px solid $gray--light;
  flex-shrink: 0;
  align: center;
  padding: $gutter*2 $gutter;
  align-items: center;
  flex-direction: column;
  text-align: center;

  a {
    margin-bottom: $gutter;
  }
}

.footerText {
  font-size: .8em;
  color: $gray--dark;
  line-height: 1.5;
  text-transform: none;
  font-weight: 200;
  max-width: 700px;
  margin: 0 auto 1em auto;
}
