// --------------------------------------------
// ### Colors
// --------------------------------------------

$white: #fff;
$gray--light: #f4f4f4;
$gray: #ccc;
$gray--dark: #777;
$black: #333;
$pop: #ff5555;

// --------------------------------------------
// ### Fonts
// --------------------------------------------

$sansSerif: "Lato", Helvetica, sans-serif;
$display: "Playfair Display", serif;

// --------------------------------------------
// ### Transitions
// --------------------------------------------

@mixin defaultTransition {
  transition: all .2s ease-in-out;
}

// --------------------------------------------
// ### Gutters
// --------------------------------------------

$gutter: 18px;

// --------------------------------------------
// ### Sizes
// --------------------------------------------

// --------------------------------------------
// ### Z-Index
// --------------------------------------------
