// --------------------------------------------
// ### Colors
// --------------------------------------------

$white: hsla(0, 0%, 98%, 1);
$gray--25: hsla(0, 0%, 20%, .25);
$gray--50: hsla(0, 0%, 20%, .5);
$gray--75: hsla(0, 0%, 20%, .75);
$black: hsla(0, 0%, 20%, 1);
$pink: hsla(340, 100%, 70%, 1);
$plum: hsla(300, 50%, 40%, 1);

// --------------------------------------------
// ### Fonts
// --------------------------------------------

$sansSerif: "Roboto", Helvetica, sans-serif;
$condensed: "Roboto Condensed", Helvetica, sans-serif;
$serif: "Playfair Display", Georgia, times, serif;

$fontWeight: (
  normal: 400,
  bold: 700,
  light: 300,
);

// --------------------------------------------
// ### Transitions
// --------------------------------------------

@mixin defaultTransition {
  transition: all .2s ease-in-out;
}

// --------------------------------------------
// ### Gutters
// --------------------------------------------

$gutter: 20px;

// --------------------------------------------
// ### Sizes
// --------------------------------------------

$borderWidth: (
  thin: 1px,
  fat: 4px
);

// --------------------------------------------
// ### Z-Index
// --------------------------------------------
