// --------------------------------------------
// ### Colors
// --------------------------------------------

$white: #f9f9f9;
$gray--light: #e0e0e0;
$gray: #999;
$gray--dark: #666;
$black: #333;
$pop: #FF6347;

// --------------------------------------------
// ### Fonts
// --------------------------------------------

$sansSerif: "Lato", Helvetica, sans-serif;
$display: "Playfair Display", serif;

$fontWeight: (
  bold: 700,
  light: 300
);

// --------------------------------------------
// ### Transitions
// --------------------------------------------

@mixin defaultTransition {
  transition: all .2s ease-in-out;
}

// --------------------------------------------
// ### Gutters
// --------------------------------------------

$gutter: 18px;

// --------------------------------------------
// ### Sizes
// --------------------------------------------

// --------------------------------------------
// ### Z-Index
// --------------------------------------------
