// --------------------------------------------
// ### General
// --------------------------------------------

$body: (
  color: $black,
  fontFamily: $sansSerif,
  fontWeight: map-get($fontWeight, normal),
  fontSize: 20px / 1,
  bg: $white
);

$selection: (
  bg: transparentize($pop, .8),
  color: $black
);
