// --------------------------------------------
// ### General
// --------------------------------------------

$html: (
  fontSize: 18px,
);

$body: (
  color: $black,
  font: $sansSerif,
  fontWeight: 300,
  bg: $white
);

$selection: (
  bg: transparentize($pop, .4),
  color: $black
);
