// --------------------------------------------
// ### General
// --------------------------------------------

$body: (
  color: $black,
  fontFamily: $sansSerif,
  fontWeight: map-get($fontWeight, normal),
  fontSize: 20px,
  bg: $white--true
);

$selection: (
  bg: transparentize($pink, .8),
  color: $black
);
