// --------------------------------------------
// ### Main Navigation
// --------------------------------------------

$navHeader: (
  fontSize: .889em,
);

$navHeader__link: (
  color: $gray--dark,
  hover: $pop,
);

// --------------------------------------------
// ### Footer Navigation
// --------------------------------------------

$navFooter: (
  color: $gray--light,
);

// --------------------------------------------
// ### Articles
// --------------------------------------------
