// --------------------------------------------
// ### Main Navigation
// --------------------------------------------

$inlineNav__link: (
  hover: $pink,
);

// --------------------------------------------
// ### Footer Navigation
// --------------------------------------------

$navFooter: (
  color: $gray--50,
);

// --------------------------------------------
// ### Articles
// --------------------------------------------
