---
layout: layout
title: Alejandra Luaces
description: Product Designer in Chi-Town
---

%h2.intro I am cross-disciplinary designer passionately working toward finding ways to help design and development teams work better together.
