// --------------------------------------------
// ### Items
// --------------------------------------------

.inlineNav {
  margin-bottom: $gutter/2;
}

.inlineNav__list {
  padding-top: 1px;
}

.inlineNav__item {
  @extend .scale--6;
  display: inline;
  margin-right: 2em;

  &:hover,
  &:visited,
  &:active {
    color: map-get($inlineNav__link, hover);
  }
}

.inlineNav__link {
  font-weight: map-get($fontWeight, bold);

  &:hover,
  &:visited,
  &:active {
    @extend %gradient;
  }
}

.inlineNav__link--active {
  @extend %gradient;
}
