
// --------------------------------------------
// ### Pagination
// --------------------------------------------

.pagination {
  @extend %group;
  display: block;
  width: 100%;
  border-top: 1px solid $gray--25;
  padding: $gutter 0;
  margin-top: $gutter*2;
}

.pagination__item {
  width: 50%;
  text-align: center;
}

.pagination__item--prev,
.pagination__item--next {
  @extend .pagination__item;
}

.pagination__item--prev {
  float: left;
  border-right: 1px solid $gray--25;
}

.pagination__item--next {
  float: right;
  border-left: 1px solid $gray--25;
}
